  <div class="card card-xl">
    <button class="absolute top-2 right-2 btn btn-sm btn-outline" data-action="click->sighting#close">
      ✕
    </button>

    <div class="card-body">
      <h2 class="card-title">Avistamiento #<%= sighting.id %></h2>

      <p><strong>Latitud:</strong> <%= sighting.latitude %></p>
      <p><strong>Longitud:</strong> <%= sighting.longitude %></p>
      <p><strong>Especie encontrada:</strong> <%= "#{sighting.species.common_name} (#{@sighting.species.scientific_name})"%></p>
      <p><strong>Descripción:</strong> <%= sighting.description || "Sin descripción" %></p>
      <p><strong>Descripción del lugar:</strong> <%= sighting.location_description || "Sin descripción" %></p>

      <hr>
      <p><strong>Estado:</strong> <%= sighting.status %></p>
      <p><strong>Reportado por:</strong> <%= sighting.submitted_by.email %></p>
      <p><strong>Validado por:</strong> <%= sighting.validated_by&.email || "Pendiente" %></p>
      <p><strong>Fecha de validación:</strong> <%= sighting.validated_at ? @sighting.validated_at.to_fs(:short) : "Pendiente" %></p>

      <%= image_tag(
        sighting.photo.attached? ? url_for(@sighting.photo) : "https://camarasal.com/wp-content/uploads/2020/08/default-image-5-1.jpg",
        class: "rounded max-w-md"
      ) %>
    </div>
  </div>
