<div class="z-1">
  <div
    data-controller="map"
    data-map-icon-url-value="<%= asset_path('leaflet/marker-icon.png') %>"
    data-map-icon-retina-url-value="<%= asset_path('leaflet/marker-icon-2x.png') %>"
    data-map-shadow-url-value="<%= asset_path('leaflet/marker-shadow.png') %>"
    data-map-points-value="<%= point_sightings_json(@point_sightings) %>"
    data-map-paths-value="<%= path_sightings_json(@path_sightings) %>"
    style="height: calc(100vh - 64px);"
    class="z-0"
  />
</div>

<%= turbo_frame_tag 'sighting', class: "fixed z-1 top-0 right-0 h-full w-[400px] bg-white shadow-lg transform translate-x-full transition-transform", data: { controller: "sighting" } %>
