<%= turbo_stream.append_all "body" do %>
  <dialog data-controller="modal" class="justify-self-center self-center relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl sm:my-8 sm:w-full sm:max-w-lg sm:p-6 z-10">
    <div class="flex flex-col min-w-md">
      <h2 class="text-3xl font-bold mb-6 text-center">Reportar Avistamiento</h2>

      <%= button_tag type="button", data: { action: "modal#close" }, class: "absolute top-4 right-4 cursor-pointer" do %>
        <%= heroicon "x-mark", options: { class: "size-6 text-gray-500 hover:text-gray-700" } %>
      <% end %>

      <%= form_with model: @sighting, url: url_for([@sighting.type.underscore.pluralize.to_sym]), local: true do |f| %>
        <%= f.hidden_field :latitude, value: @latitude %>
        <%= f.hidden_field :longitude, value: @longitude %>
        <%= f.hidden_field :path, value: @path %>
        <%= f.hidden_field :zone, value: @zone %>

        <div class="flex flex-col">
          <%= f.label :description, "Descripción del avistamiento", class: "label" %>
          <%= f.text_area :description, class: "input w-full" %>
        </div>

        <div class="flex flex-col mb-4">
          <%= f.label :location_description, "Descripción del lugar del avistamiento", class: "label" %>
          <%= f.text_area :location_description, class: "input w-full" %>
        </div>

        <div class="flex flex-col mb-4">
          <%= f.label :sighting_date, "Fecha del avistamiento", class: "label" %>
          <%= f.date_field :sighting_date, class: "input w-full" %>
        </div>

        <div class="flex flex-col mb-4">
          <%= f.label :species_id, "Especie encontrada", class: "label" %>
          <%= f.select :species_id, @species_map, {}, class: "select w-full" %>
        </div>

        <div class="flex flex-col mb-5">
          <%= f.label :photo, "Foto del avistamiento", class: "label" %>
          <%= f.file_field :photo, class: "file-input w-full" %>
        </div>

        <%= f.submit "Reportar", class: "btn btn-primary w-full" %>
      <% end %>
    </div>
  </dialog>
<% end %>
