<div class="flex justify-center mt-10">
  <div class="card w-96 bg-base-100 card-xl shadow-sm">
    <div class="card-body">
      <h2 class="card-title">Avistamiento #<%= @sighting.id %></h2>

      <p><strong>Latitud:</strong> <%= @sighting.latitude %></p>
      <p><strong>Longitud:</strong> <%= @sighting.longitude %></p>
      <p><strong>Especie encontrada:</strong> <%= "#{@sighting.species.common_name} (#{@sighting.species.scientific_name})"%></p>
      <p><strong>Descripci贸n:</strong> <%= @sighting.description || "Sin descripci贸n" %></p>
      <p><strong>Description del lugar:</strong> <%= @sighting.location_description || "Sin descripci贸n" %></p>

      <hr>
      <p><strong>Estado:</strong> <%= @sighting.status %></p>
      <p><strong>Reportado por:</strong> <%= @sighting.submitted_by.email %></p>
      <p><strong>Validado por:</strong> <%= @sighting.validated_by&.email || "Pendiente" %></p>
      <p><strong>Fecha de validaci贸n:</strong> <%= @sighting.validated_at ? @sighting.validated_at.to_fs(:short) : "Pendiente" %></p>

      <div class="justify-center card-actions mt-4">
        <%= link_to "Volver al mapa", sightings_path, class: "btn btn-outline btn-sm" %>
      </div>
    </div>
  </div>
</div>
