<div class="flex justify-center mt-4">
  <div class="flex flex-col w-full mx-6 sm:max-w-md">
    <h2 class="text-3xl font-bold mb-6 text-center">Editar <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-6 my-4" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="flex flex-col">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input w-full" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="flex flex-col">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input w-full" %>
        <% if @minimum_password_length %>
          <em class="text-xs/6 label"><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="flex flex-col">
        <%= f.label :password_confirmation, class: "label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input w-full" %>
      </div>

      <div class="flex flex-col">
        <%= f.label :current_password, class: "label" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "input w-full" %>
      </div>

      <%= f.submit "Actualizar", class: "btn btn-primary w-full" %>
    <% end %>
  </div>
</div>
