<h1 class="text-2xl font-bold mb-4">Admin Dashboard</h1>

<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 mx-4">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Role</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Reset Password Sent At</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= user.id %></th>
          <td><%= user.email %></td>
          <td><%= user.role.titleize %></td>
          <td><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= user.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= user.reset_password_sent_at ? user.reset_password_sent_at.strftime("%Y-%m-%d %H:%M") : "—" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
