<div class="navbar bg-primary">
  <div class="flex-none mx-1">
    <%= button_tag type: "button", class: "btn btn-square btn-ghost text-white hover:text-primary p-1", data: { action: "click->drawer#toggle" } do %>
      <%= heroicon "bars-3" %>
    <% end %>
  </div>
  <div class="flex-1">
    <%= link_to "VGI", root_path, class: "btn btn-ghost text-xl text-white hover:text-primary" %>
  </div>
  <% if current_user&.admin? %>
    <div class="flex mr-5">
      <%= link_to "Manage Users", admin_users_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
  <div class="flex gap-2">
    <div class="dropdown dropdown-end me-2">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar p-1">
        <%= heroicon "user", options: { class: "text-white hover:text-primary" }%>
      </div>
      <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
        <% if user_signed_in? %>
          <li><%= link_to "Editar Perfil", edit_user_registration_path, class: "hover:text-white hover:bg-primary" %></li>
          <li><%= link_to "Cerrar sesión", destroy_user_session_path, data: { turbo_method: :delete }, class: "hover:text-white hover:bg-primary" %></li>
        <% else %>
          <li><%= link_to "Iniciar sesión", new_user_session_path, class: "hover:text-white hover:bg-primary" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
